<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233804418910-aetrjejq2tmgc12ceastkljbvumip6cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233804418910-aetrjejq2tmgc12ceastkljbvumip6cj</string>
	<key>API_KEY</key>
	<string>AIzaSyBrnizZGLJkuasf8Xj8gegVOuPAOyYeZ_I</string>
	<key>GCM_SENDER_ID</key>
	<string>233804418910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kunlun.app.KunlunApp</string>
	<key>PROJECT_ID</key>
	<string>kunlun-f59d1</string>
	<key>STORAGE_BUCKET</key>
	<string>kunlun-f59d1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233804418910:ios:88af08467a1893f61609cf</string>
</dict>
</plist>